<style>
body { background : powderblue; }
#line {
  border-collapse: collapse;
  border-top: 3px solid blue;
}
.table th {
  color: green;
  background: #f0f6f9;
  width:250px;
  
}

.table th {
  padding: 10px;
  border: 1px solid #ddd;
}

</style>
